name: Run Assessment

on:
  push:
    paths:
      - 'scenario.toml'
  workflow_dispatch:

jobs:
  evaluate:
    uses: radmanesh/design2code-bench/.github/workflows/run-scenario.yml@main
    with:
      leaderboard_repo: 'radmanesh/design2code-bench'
      scenario_file: 'scenario.toml'
    secrets:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}